<footer class="container text-center">
    <p>&copy; 2024 <a href="https://x.com/nop_sl3d">pruger</a>. All rights reserved.</p>
    <a href="https://github.com/pruger/tiny-brutalism-css" class="button">Check on GitHub</a>
</footer>
